<h1>List of weekplans</h1>

<table>
  <thead>
    <tr>
      <th>Weekplans</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weekplans.each do |weekplan| %>
      <tr>
        <td><%= weekplan.week %></td>
        <td><%= weekplan.plan %></td>
        <td><%= link_to 'Show', weekplan %></td>
        <td><%= link_to 'Edit', edit_weekplan_path(weekplan) %></td>
        <td><%= link_to 'Destroy', weekplan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weekplan', new_weekplan_path %>
