<h1> Weekplans And Dates:</h1>

<table>
  <thead>
    <tr>
      <th>Weekplans and Dates:</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weekplans.each do |weekplan| %>
      <tr>
        <td><%= weekplan.week %></td>
        <td><%= weekplan.plan %></td>
        <td><%= link_to 'Show', weekplan %></td>
        <td><%= link_to 'Edit', edit_weekplan_path(weekplan) %></td>
        <td><%= link_to 'Delete', weekplan, method: :delete, data: { confirm: 'Are you sure you want to delete this weekplan?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weekplan', new_weekplan_path %>
