<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @weekplan.week %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @weekplan.plan %>
</p>

<%= link_to 'Edit', edit_weekplan_path(@weekplan) %> |
<%= link_to 'Back', weekplans_path %>
